@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 13px;
  outline: 1px solid black;
}

:root {
  --clr-dark-grayish-blue: hsl(217, 19%, 35%);
  --clr-dark-blue: hsl(214, 17%, 51%);
  --clr-grayish-blue: hsl(212, 23%, 69%);
  --clr-light-grayish-blue: hsl(210, 46%, 95%);
}

body {
  background-color: var(--clr-light-grayish-blue);
  font-family: 'Manrope', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 350px;
  margin: 0 auto;
}

.card {
  // width: 40%;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;

  &__image img {
    width: 100%;
  }

  &__body {
    padding: 2em;

    &--title {
      color: var(--clr-dark-grayish-blue);
      font-weight: 700;
      font-size: 1.4rem;
      margin-bottom: 1.1em;
    }

    &--main {
      margin-bottom: 2em;
      color: var(--clr-grayish-blue);
    }

    &__bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &--active {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--clr-dark-grayish-blue);
      }

      &--active p {
        text-transform: uppercase;
        letter-spacing: 3px;
        color: var(--clr-light-grayish-blue);
        font-weight: 400;
      }

      &--info {
        margin-right: 100px;
      }

      &--name {
        font-weight: 700;
        color: var(--clr-dark-grayish-blue);
      }

      &--date {
        color: var(--clr-grayish-blue);
      }

      &--avatar {
        border-radius: 50%;
        width: 40px;
        height: 40px;
      }

      &--share {
        &--btn {
          border: none;
          background: none;
          padding: 0;
        }
      }

      &--share i {
        height: 36px;
        width: 36px;
        color: var(--clr-dark-grayish-blue);
        background-color: var(--clr-light-grayish-blue);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
      }

      &--share i:hover {
        color: var(--clr-light-grayish-blue);
        background-color: var(--clr-dark-grayish-blue);
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 375px) {
  .card {
    display: flex;
    flex-direction: row;
  }
}

@media (max-width: 1440px) {
  .card {
    display: flex;
    flex-direction: column;

    &__image img {
      width: 100%;
    }
  }
}
