/* Base styles, not related to example */
body {
  font: 200% system-ui, Helvetica Neue, Segoe UI, sans-serif;
}

input,
select,
textarea,
button {
  font: inherit;
}

/* Main CSS */
.cut-corner {
  padding: 1em;
  clip-path: polygon(
    calc(100% - var(--corner-size-x)) 0,
    100% var(--corner-size-y),
    100% 100%,
    0 100%,
    0 0
  );
}

#a {
  background: hotpink;
  --corner-size-x: 8vw;
  --corner-size-y: 3em;
}

#b {
  background: skyblue;
  --corner-size: 10px;
}
