body {
  background: #f8f8f8;
}

header {
  text-align: center;
}

.site-title {
  font-family: 'Lora', serif;
  font-size: 3.375rem;
}

.subtitle {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
}

nav ul {
 
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
 
  margin: 0 1em;
}

nav a {
 
}

nav a:hover {
  border-bottom: solid 2px black;
}
