body {
  font-size: 1.125rem;
  font-family: 'Roboto', sans-serif;
  color: #707070;
  margin: 0;
}

/* Typography */

h1 {
  font-size: 3rem;
  color: #312614;
}

h2 {
  font-size: 2rem;
}

h1 span {
  color: #b7832f;
}

p {
  margin-top: 0;
}

/* Layout */

header {
  text-align: center;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  background: #fff;
  width: 95%;
}

.columns {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 1em 0;
}

.col-1 {
  width: 20%;
}

.col-2 {
  width: 45%;
}

.col-3 {
  width: 70%;
}

img {
  max-width: 100%;
}

.col-bg {
  background: #312614;
  color: #fff;
  padding: 1em;
}

/* Media Queries */
@media (max-width: 600px) {
  .columns {
    flex-direction: column;
  }

}


/* @media (min-width: 480px) {
  body {
    background: purple;
  }
}

@media (min-width: 650px) and (max-width: 649px) {
  body {
    background: orange;
  }
} */
