@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@700&display=swap');

:root {
  --ff-oswald: 'Oswald', sans-serif;
  --ff-montserrat: 'Montserrat', sans-serif;

  --fw-bold: 700;
  --fw-regular: 400;

  --clr-dark-navy: #2e323f;
  --clr-navy: #3b4050;
  --clr-grey: #6f737f;
  --clr-white: #ffffff;
  --clr-gold: #a59678;
}

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

img,
picture {
  max-width: 100%;
  display: block;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-family: var(--ff-montserrat);
  font-weight: var(--fw-regular);
  padding: 0;
  margin: 0;
}

/* typograph */
h1,
h2,
h3 {
  font-family: var(--ff-oswald);
  font-weight: var(--fw-bold);
}

/* utils */
.flex {
  display: flex;
}

.container {
  max-width: 75rem;
  width: 85%;
  margin: 0 auto;
}

/* nav */
