@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@700&display=swap');

:root {
  --ff-oswald: 'Oswald', sans-serif;
  --ff-montserrat: 'Montserrat', sans-serif;

  --fw-bold: 700;
  --fw-regular: 400;

  --clr-dark-navy: #2e323f;
  --clr-navy: #3b4050;
  --clr-grey: #eee;
  --clr-white: #ffffff;
  --clr-gold: #a59678;

  --spacer: 1.5rem;
}

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

img,
picture {
  max-width: 100%;
  display: block;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-family: var(--ff-montserrat);
  font-weight: var(--fw-regular);
  padding: 0;
  margin: 0;
  line-height: 1.6;
}

section,
footer {
  padding: 4rem 0;
}

/* typograph */
h1,
h2,
h3 {
  font-family: var(--ff-oswald);
  font-weight: var(--fw-bold);
}

/* utils */
.flex {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 75rem;
  width: 85%;
  margin: 0 auto;
}

.flow-content > * + * {
  margin-top: var(--spacer, 1rem);
}

.gold {
  color: var(--clr-gold);
}

.white {
  color: var(--clr-white);
}

/* nav */
header {
  background-color: var(--clr-dark-navy);
}

.nav__complete {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
}

.nav__link {
  font-size: 1.125rem;
  font-weight: var(--fw-bold);
  text-decoration: none;
  text-transform: uppercase;
  color: var(--clr-white);
}

.nav__item + .nav__item {
  margin-left: 1rem;
}

.button--gold {
  background-color: var(--clr-gold);
  padding: 0.25em 0.75em;
  border-radius: 50px;
  border: none;
  text-transform: uppercase;
  font-weight: var(--fw-bold);
  color: var(--clr-white);
}

.hero {
  background-color: var(--clr-navy);
}

.hero__text {
  margin-bottom: 3rem;
}

.hero__title {
  font-size: 5.625rem;
  line-height: 1;
  width: 100%;
}

.hero__title span {
  color: var(--clr-white);
}

/* mobile */
.mobile {
  text-align: center;
  background-color: var(--clr-grey);
}

/* main */
.middle__main {
  margin-bottom: 2rem;
}

.middle__sidebar {
  color: var(--clr-white);
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.middle__sidebar__content {
  background-color: var(--clr-dark-navy);
  padding: 2rem;
  margin-bottom: 2rem;
  /* outline: 2px solid red; */
}

/* footer */
footer {
  background-color: var(--clr-navy);
  color: #eee;
}

.footer__links {
  display: flex;
}

.footer__links__items {
  width: 100%;
}

.footer__title {
  color: var(--clr-white);
  font-size: 3rem;
  text-align: center;
  margin-bottom: var(--spacer);
}

.about {
  margin-bottom: var(--spacer);
}