@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  line-height: 1.5;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 1.25rem;

  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}
