.flex-container {
  display: flex;

  justify-content: space-between;

  border: 5px solid black;
  padding: 2em;
  width: 70%;
  max-width: 60rem;
}

.flex-item {
  margin: 0.5rem;
  border: 5px solid #aaa;
  background-color: #000;
  color: #fff;
  padding: 0.5em;
}
