* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.parent {
  background-color: #23424a;
  padding: 50px;
  width: 80%;
  margin: 0 auto;
}

.child {
  background-color: #38cfd9;
  /* normally I wouldn't include
  a height it's just to get us started */
  width: 750px;
  height: 250px;
}
