@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
:root {
  --clr-orange: #e38826;
  --clr-dark-cyan: #006970;
  --clr-darker-cyan: #004241;
  --clr-neutral-white: rgba(255, 255, 255, 0.75);
  --clr-neutral-gray: #f2f2f2;
  --ff-lexend: Lexend Deca;
  --ff-bsd: Big Shoulders Display;
  --spacer: 1.6rem; }

*,
*::before,
*::after {
  box-sizing: border-box; }

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  font-family: var(--ff-lexend);
  font-size: 15px;
  color: var(--clr-neutral-white); }

input,
textarea,
select,
button {
  font: inherit; }

img,
picture {
  max-width: 100%;
  display: block; }

.container {
  max-width: 325px;
  margin: 0 auto;
  padding: 3rem; }

.flow-content > * + * {
  margin-top: var(--spacer); }

@media (min-width: 40em) {
  body {
    background-color: red;
    display: flex; } }

.card {
  padding: 2rem;
  width: 325px; }
  .card-orange {
    background-color: #e38826; }
  .card-cyan {
    background-color: #006970; }
  .card-dark-cyan {
    background-color: #004241; }
  .card__title {
    font-family: var(--ff-bsd);
    font-size: 40px;
    text-transform: uppercase;
    color: white; }
  .card__btn {
    background: none;
    border: none;
    background-color: white;
    padding: 0.8rem 2rem;
    border-radius: 2rem; }
