@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Roboto:wght@300;400&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

// fonts


// colors
$clr-cream: #F3EED9;
$clr-brown: #824936;
$clr-black: #222C2A;