@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Roboto:wght@300;400&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

// fonts
$font-roboto-light: 'Roboto';
$font-playfair-display: 'Playfair Display';


// colors
$clr-cream: #F3EED9;
$clr-brown: #824936;
$clr-black: #222C2A;

// font-family: 'Playfair Display',
// serif;
// font-family: 'Roboto',
// sans-serif;