:root {
  --ff-primary: basic-sans, sans-serif;
  --clr-primary: #ee6352;
  --clr-body: #333;
  --clr-bg: #ddd;
  --spacer: 1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.flow > * + * {
  margin-top: var(--spacer);
}

::marker {
  color: red;
  content: 'hello';
}

.body {
  min-height: 100vh;
  font-size: 1.125rem;
  line-height: 1.6;
  color: var(--clr-body);
  background: var(--clr-bg);
}

.content {
  width: 70vw;
  margin: 3rem auto;
  padding: 3em;
  box-shadow: 0 0 3em rgba(0,0,0,.15);
  background: white;
}
