@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

// fonts
$heading: 'Raleway', sans-serif;

$primary-font: 'Open Sans', sans-serif;

// colors
$primary-very-dark-blue: hsl(243, 87%, 12%);
$primary-desaturated-blue: hsl(238, 22%, 44%);
$accent-bright-blue: hsl(224, 93%, 58%);
$accent-moderate-cyan: hsl(170, 45%, 43%);
$neutral-light-grayish-blue: hsl(240, 75%, 98%);
$neutral-light-gray: hsl(0, 0%, 75%);

* {
  box-sizing: border-box;
  // outline: 1px solid red;
}

img {
  width: 100%;
}

body {
  font-family: $primary-font;
  width: 375px;
  padding: 0 1em;
}

.heading {
  font-family: $heading;
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    width: 25%;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-right: 10px;
  }

  &__item {
    // display: flex;
    // justify-content: space-between;
    margin-right: 10px;
    font-size: 0.9rem;
  }

  &__link {
    text-decoration: none;
    gap: 20px;
  }
}

.info {
  &__email {
    input[type='email'] {
      display: inline-block;
      width: 100%;
    }
  
  }
}

