* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  padding: 1em;
}

.container {
  background: #23424a;
  color: white;
  margin: 0 auto;
  padding: 2em;

  width: 80%;
  max-width: 750px;
}

.intro-content {
  width: 50%;
}
