/* Give everything in the body a sans-serif font */
body {
  font-family: sans-serif;
}

/* Make the h1 center aligned.  Make it not bold (a lighter weight) and give it a font size of 40px */

/* Give the paragraphs a font size of 24px */

/*  Select the element with the id of 'leafy' and make it have a color of #1d6e09 and give it a #1d6e09 underline*/

/* Select the elements with the class of 'latin' and make them italicized*/

/* Select all h2s and make them uppercase (using css) */

/*  Select all links and remove their underline and make them have a color of orange*/

/* Write styles so that links turn red and have a red underline when hovered over*/

/*  Make the unordered list use squares for their bullet point marker*/
