:root {
  --clr-primary: #ee6352;
  --clr-body: #333;
  --clr-bg: #ddd;
}

body {
  font-family: basic-sans, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125em;
  line-height: 1.6;
  color: var(--clr-body);
  background: var(--clr-bg);
}

.content {
  background: white;
  width: 70vw;
  padding: 3em;
  box-shadow: 0 0 3em rgba(0, 0, 0, 0.15);
}

form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 1em;
  align-items: center;
}

.title {
  text-align: center;
  margin: 0 0 1em;
  font-weight: 900;
  color: var(--clr-primary);
  line-height: 0.8;
}

input {
  font-family: inherit;
  padding: 0.5em;
  border: 3px solid var(--clr-bg);
}

label {
  justify-self: end;
}

input[required]:placeholder-shown {
  border-color: var(--clr-primary);
}
