/* default styling, no changes needed here */
#artists h4 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 0.8em;
  margin: 0;
}

#artists h3 {
  margin-top: 0.3em;
}

.article-container {
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
}

.article-container article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, auto);
  gap: 0 1rem;
}

.article-container article * {
  margin-top: 0;
  grid-column: 2 / 3;
}

.article-container article img {
  grid-column: 1 / 2;
  grid-row: 1 / 6;
}

@media (min-width: 650px) {
  .article-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(10px, 1fr));
  }
}

/* set the layout to border box model */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* set font family and background gradient */
body {
  padding: 0;
  border: 0;
  font-family: Arial, sans-serif;
}
img {
  width: 100%;
}
