@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --ff-poppins: 'Poppins', sans-serif;

  --clr-dark: #2d2e36;
  --clr-grey: #383a45;
  --clr-light-grey: #8d91a6;
}

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
picture {
  max-width: 100%;
  display: block;
}

body,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

textarea,
select,
input,
button {
  font: inherit;
}

/* typography */

