@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --ff-poppins: 'Poppins', sans-serif;

  --clr-dark: #2d2e36;
  --clr-grey: #383a45;
  --clr-light-grey: #8d91a6;
}

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
picture {
  max-width: 100%;
  display: block;
}

body,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

textarea,
select,
input,
button {
  font: inherit;
}

/* typography */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-color: var(--clr-dark);
  color: var(--clr-light-grey);
  font-family: var(--ff-poppins);
  line-height: 1.5;
}

.card {
  max-width: 356px;
  background: var(--clr-grey);
}

.card__title {
  color: #fff;
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.container {
  padding: 1.5em;
}

.flow-content > * + * {
  margin-top: 1.6rem;
}

.flex {
  display: flex;
  flex-direction: column;
}

@media (min-width: 500px) {
  .flex {
    flex-direction: row;
  }

  .card {
    max-width: 729px;
  }
}