// Base: contained within this file are all your resets, variables, mixins, 
// and any utility classes.
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
$lexend-deca: 'Lexend Deca';
$big-shoulders-display: 'Big Shoulders Display';

$bright-orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$darker-cyan: hsl(179, 100%, 13%);

$trans-white: hsla(0, 0%, 100%, 0.75);
$light-gray: hsl(0, 0%, 95%);

:root {
  --clr-orange: #{$bright-orange};
  --clr-dark-cyan: #{$dark-cyan};
  --clr-darker-cyan: #{$darker-cyan};

  --clr-neutral-white: #{$trans-white};
  --clr-neutral-gray: #{$light-gray};

  --ff-lexend: #{$lexend-deca};
  --ff-bsd: #{$big-shoulders-display};
}

// reset
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  font-family: var(--ff-lexend);
  font-size: 15px;
}


