// Layout: contains all the CSS that handles the layout, such as the container
// and any grid systems.
.container {
  max-width: 325px;
  margin: 0 auto;
  padding: 3rem;
}

.flow-content > * + * {
  margin-top: var(--spacer);
}
