.card {
  background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%)),
    linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  background-image: url(/images/bg-pattern-desktop.svg);

  &__logo {
    padding: 2em;
    width: 11em;
  }

  &__title {
    margin-top: 1.5em;
    text-transform: uppercase;
    letter-spacing: 12px;
    font-weight: 600;
    font-size: 2.5rem;
  }

  &__title span {
    color: $desaturated-red;
    font-weight: 300;
    display: block;
  }

  &__text {
    text-align: center;
    color: $desaturated-red;
    line-height: 1.25;
    padding: 0 .5em;
  }

  &__form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
    position: relative;

    &__input {
      width: 100%;
      padding: 1.1em;
      border-radius: 50px;
      font-family: 'Josefin Sans', sans-serif;
      color: $desaturated-red;
      border: 1px $desaturated-red solid;
    }

    &__button {
      border-radius: 50px;
      border: none;
      background: linear-gradient(135deg, #F8BFBF, #EE8B8B);
      width: 64px;
      height: 48px;
      position: absolute;
      top: -20;
      right: 0;
    }

    &__error {
      width: 24px;
      height: 24px;
    }
  }
}