@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

:root {
  --light-green: #aadfc5;
  --dark-green: #47946e;
  --brown: #7a4900;
  --black: #000;
  --white: #fff;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: var(--light-green);
  height: 100vh;
}

a {
  color: var(--brown);
  text-decoration: none;
  font-weight: bold;
}

.logo {
  text-transform: uppercase;
}

header {
  display: flex;
  padding: 1em;
  justify-content: space-between;
}

.menu {
  width: 1.5em;
  cursor: pointer;
}

ul {
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  display: none;
  place-content: center;
  z-index: 1;
}

ul li a {
  color: black;
  padding: 2em;
  display: block;
  font-size: 1.4rem;
  margin-left: -4em;
}

.exit svg {
  width: 1.5em;
  position: absolute;
  top: 1em;
  right: 2em;
  cursor: pointer;
}

.active a {
  color: #217c4f;
}

main {
  padding: 1em;
  text-align: center;
}

h1 {
  font-size: 1.5rem;
  position: relative;
  margin-top: 3em;
}

h1:before {
  content: '';
  position: absolute;
  width: 30%;
  height: 7px;
  top: -20px;
  left: 33%;
  background-color: var(--brown);
}

p {
  font-size: 0.9rem;
  line-height: 1.4em;
  width: 90%;
  margin: 0 auto 2em;
}

.cta {
  display: block;
  padding: 0.7em;
  margin-bottom: 1em;
  background-color: var(--brown);
  color: white;
  white-space: nowrap;
}

.outline {
  background: none;
  border: 2px solid var(--dark-green);
  color: black;
}

.plant-container {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.plant {
  width: 350px;
  position: absolute;
  right: -1%;
  bottom: -28%;
}

.open-nav {
  display: grid;
}

@media (min-width: 500px) {
  /* .btn-container {
    display: flex;
    justify-content: space-evenly;
  }

  #menu-btn {
    visibility: hidden;
  }

  ul {
    display: flex;
    justify-content: flex-end;
    background: none;
  }

  ul li a {
    display: unset;
    margin-right: 1em;
  }

  .exit svg {
    visibility: hidden;
  } */

  body {
    font-size: 18px;
  }

  .menu,
  .exit {
    display: none;
  }

  ul {
    display: flex;
    background: none;
    height: unset;
    position: unset;
    text-transform: uppercase;
  }

  ul li a {
    font-size: 0.9em;
    margin-left: unset;
    padding: 0 0.5em;
  }

  h1 {
    font-size: 2.5em;
  }

  p {
    font-size: 1em;
  }

  .btn-container {
    display: flex;
    justify-content: center;
  }

  .cta {
    padding: 0.7em 1.2em;
  }

  .outline {
    margin-left: 1em;
  }
}
