body {
  font-family: 'Cormorant', serif;
}

h1 {
  display: inline-block;
  font-weight: 300;
  margin: 0 32px 0 0;
}

.links {
  display: inline-block;
}

.links ul {
  padding: 0;
}

.links li {
  display: inline-block;
}

.links a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  margin: 0 8px;
}

.navbar {
  margin: 32px;
}

a.active {
  border-bottom: 1px solid black;
}

.card img {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

.card {
  display: inline-block;
  width: 49.75%;
  box-sizing: border-box;
  padding: 16px;
}

.card h2 {
  display: inline-block;
  margin: 8px 0 16px 0;
  font-weight: 300;
}

.gallery {
  padding: 16px;
}

/* about section */
.about {
  width: 40%;
  min-width: 600px;
}

.about h3 {
  font-size: 40px;
  font-weight: 300;
}
