.parent {
  width: 200px;
  height: 150px;
  border: 5px solid;
}

.rebellious-teenager {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: deeppink;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}