/* Base styles, not related to example */
body {
  font: 200% system-ui, Helvetica Neue, Segoe UI, sans-serif;
}

input,
select,
textarea,
button {
  font: inherit;
}
button {
  border-radius: 0.3em;
  padding: 0.1em 0.5em 0.15em;
  font-weight: bold;
  font-size: 180%;
  margin: 0.2em;
  cursor: pointer;
}
/* Main CSS */
button {
  border: 0.1em solid var(--color, black);
  background: transparent;

  color: var(--color, black);
}

button:hover {
  background: var(--color, black);
  color: white;
}

button.pink {
  --color: #f06;
}
