@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  --spacer: 2rem;
}

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img,
picture {
  max-width: 100%;
  display: block;
  height: auto;
}

/* typography */
section {
  font-family: 'Lato', sans-serif;
  padding: 3rem 0;
}

/* layout */
.container {
  max-width: 800px;
  width: 80%;
  margin: 0 auto;
}

.flow-content > * + * {
  margin-top: var(--spacer, 1em);
}

.split {
  display: flex;
  flex-direction: column;
}

@media (min-width: 40em) {
  .split {
    flex-direction: row;
  }
}
