.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 70%;
  max-width: 60rem;
  border: 5px solid black;
  padding: 2em;
}

.flex-item {
  margin: 0.5rem;
  border: 5px solid #aaa;
  background-color: black;
  color: white;
  padding: 0.5em;

  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 200px;
  max-width: 300px;
}
