/* Font used
font-family: 'PT Sans', sans-serif; 
*/

:root {
  --ff-primary: 'PT Sans', sans-serif;

  --fw-700: 700;
  --fw-400: 400;

  --fs-regular: 1.25rem;
}

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
}

/* utility classes */
.flow-content > * + * {
  margin-top: 1rem;
}

/* general styling */
body {
  font-family: var(--ff-primary);
  font-size: var(--fs-regular);
  font-weight: var(--fw-400);
  margin: 0;
}

.btn {
  display: inline-block;
  background-color: #59e89c;
}

/* hero section */
.hero {
  background-image: url('./assets/hero.jpg');
  background-size: cover;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.hero__content {
  background-color: #fff;
  width: 48rem;
  margin: 0 auto;
  text-align: center;
  padding: 3rem 2rem;
}
