/* Font used
font-family: 'PT Sans', sans-serif; 
*/

:root {
  --ff-primary: 'PT Sans', sans-serif;
}

body {
  font-family: var(--ff-primary);
}

.hero {
  background-image: url('./assets/hero.jpg');
  background-size: cover;
}