@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --ff-roboto: 'Roboto', sans-serif;

  --fw-700: 700;
  --fw-400: 400;

  --fs-regular: 21px;
  --fs-large: 48px;

  --clr-dark-green: #23424a;
  --clr-light-green: #38cfd9;
  --clr-white: #fff;

  --spacer: 2rem;
}

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
p {
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* typography */
body {
  font-family: var(--ff-roboto);
}

 /* layout */
 .flow-content > * + * {
   margin-top: var(--spacer);
 }

.intro-section {
  background-color: var(--clr-dark-green);
  color: var(--clr-white);
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 9.25em;
}

button {
  background: var(--clr-light-green);
  border: none;
  padding: 1rem 3rem;
  border-radius: 25px;
  font-size: var(--fs-regular);
  font-weight: var(--fw-700);
  text-transform: uppercase;
}
