.extra-height {
  min-height: 150px;
}

input[type='checkbox'] {
  display: none;
  pointer-events: none;
}

input[type='checkbox'] + label {
  cursor: pointer;
  display: grid;
  grid-template-columns: auto 3fr;
}

input[type='checkbox']:checked + label .check {
  stroke-dashoffset: 0;
}

svg {
  width: 2em;
  stroke: #1a004e;
  stroke-width: 5;
  fill: white;
}

.box {
  stroke-dasharray: 320;
  stroke-dashoffset: 0;
  fill: white;
  transition: stroke-dashoffset 0.3s linear;
}

.check {
  stroke-dasharray: 70;
  stroke-dashoffset: 70;
  fill: none;
  transition: stroke-dashoffset 0.3s linear;
}

.left-col span {
  padding-top: 0.4em;
  margin-left: 0.4em;
  font-weight: normal;
  color: #1a004e;
}
