@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root {
  --spacer: 1.5rem;

  --ff-primary: 'Poppins', sans-serif;

  --box-shadow: 0 0.25em 1.5em rgba(0, 0, 0, 0.15);
}

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* utility */
.flow-content > * + * {
  margin-top: var(--spacer);
}

body {
  font-family: var(--ff-primary);
}

.container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 3rem 5rem;
}

.bg-dark {
  --fg: white;
  --bg: black;
}

.bg-light {
  --fg: black;
  --bg: white;
}

.card {
  width: 300px;
  background-color: var(--bg, purple);
  color: var(--fg, white);
  padding: 1.5rem;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
}

.corner-square {
  position: relative;
}

.corner-square::before {
  content: '';
  display: block;
  width: 5rem;
  height: 5rem;
  background: orange;
  position: absolute;
  left: -0.5rem;
  top: -0.5rem;
  z-index: -1;
  border-radius: 5px;
}

.btn {
  display: inline-block;
  background-color: blue;
  color: white;
  padding: 0.75rem 1.25rem;
  text-decoration: none;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
