*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.cta {
  display: flex;
}

.left {
  width: 50%;
}

.right {
  width: 50%;
}

.btn {
  background-color: blue;
  color: white;
  padding: 1.5em 2em;
  text-decoration: none;
}
