*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.card {
  width: 300px;
  background-color: pink;
  padding: 1.5rem;
}

.btn {
  display: inline-block;
  background-color: blue;
  color: white;
  padding: 1.5rem 2rem;
  text-decoration: none;
}
