:root {
  --clr-primary: hsl(160deg, 100%, 30%);
  --clr-secondary-light: hsl(45deg, 100%, 50%);
  --clr-secondary-dark: hsl(45deg, 100%, 40%);

  --clr-black: hsl(0deg, 0%, 0%);
  --clr-very-dark: hsl(0deg, 0%, 10%);
  --clr-dark: hsl(0deg, 0%, 30%);
  --clr-medium: hsl(0deg, 0%, 40%);
  --clr-light: hsl(0deg, 0%, 60%);
  --clr-white: hsl(0deg, 0%, 100%);
}

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

html {
  font-size: 18px;
}

/* Add styles here! */
.max-width-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.intro-chunk,
.title {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.intro-chunk {
  padding-top: 96px 0;
  max-width: 400px;
}

.intro-chunk strong {
  color: var(--clr-primary);
}

.intro-chunk p {
  font-size: 1.25rem;
}

header {
  border-bottom: 8px solid var(--clr-medium);
}

main {
  background-color: var(--clr-light);
  padding: 96px 0;
}

.card {
  background-color: var(--clr-white);
  padding: 24px;
  margin: -24px;
  border-bottom: 8px solid var(--clr-medium);
}

.indented-heading {
  background-color: var(--clr-secondary-light);
  margin-left: -32px;
  margin-top: -16px;
  padding: 16px 32px;
  width: fit-content;
  border-bottom: 8px solid var(--clr-secondary-dark);
}

.card p {
  font-size: 1.25rem;
  line-height: 1.4;
}

.card p:last-child {
  margin-bottom: 0;
}
