@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img,
picture {
  max-width: 100%;
  display: block;
}

body {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  min-height: 100vh;
  line-height: 1.5;
}

.post-img {
  width: 100%;
  height: auto;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}
