@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;900&display=swap");
:root {
  --clr-primary-700: hsl(300, 43%, 22%);
  --clr-primary-400: hsl(333, 80%, 67%);
  --clr-neutral-100: hsl(303, 10%, 53%);
  --clr-neutral-200: hsl(300, 24%, 96%);
  --clr-neutral-300: hsl(0, 0%, 100%);
  --ff-primary: 'Spartan', sans-serif;
  --fs-400: 0.8125rem;
  --fs-500: 0.9625rem;
  --fs-900: 2rem;
  --br: 0.5rem; }
  @media (min-width: 50em) {
    :root {
      --fs-900: 3rem; } }

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  padding-top: 5rem;
  text-align: center; }

h1 {
  font-size: var(--fs-900);
  color: var(--clr-primary-700);
  line-height: 1;
  max-width: 12ch;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  font-weight: 800; }

.lead {
  font-size: var(--fs-500); }

.container {
  max-width: 70rem;
  padding: 0 2em;
  margin: 0 auto; }

.flow-content > * + * {
  margin-top: var(--flow-space, 1rem); }

.a-center {
  align-content: center; }

.ratings li {
  color: var(--clr-primary-700);
  background: var(--clr-neutral-200);
  font-weight: 800;
  padding: 0.5rem;
  border-radius: var(--br); }
  .ratings li::before {
    content: '';
    width: 100px;
    margin: 0 auto;
    display: block;
    height: 1rem;
    margin-bottom: 0.5rem;
    background-image: url(../../images/icon-star.svg);
    background-repeat: space; }

.quotes blockquote {
  --spacer: 2rem;
  background: var(--clr-primary-700);
  color: var(--clr-neutral-200);
  text-align: left;
  border-radius: var(--br);
  padding: var(--spacer); }

.quotes img {
  border-radius: 50%;
  margin-right: var(--spacer); }

.quotes .name {
  font-weight: 800; }

.quotes .status {
  color: var(--clr-primary-400); }

.quotes .quote {
  margin-top: var(--spacer); }

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0; }

/* Remove default margin */
/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block; }

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }
