* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

.card {
  display: grid;
  grid-template: 2fr / 4fr;
  background-color: black;
  height: 20em;
  width: 15em;
  margin: 0 auto;
  color: #fff;
}

.card-img {
  object-fit: cover;
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  height: 100%;
  width: 100%;
}

.card-body {
  padding: 20px;
}
