@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@300;400;500;600;700&display=swap');

:root {
  --clr-darkblue: #2e323f;
  --clr-blue: #3b4050;
  --clr-grey: #6f737f;
  --clr-white: #fff;
  --clr-gold: #a59678;
}

.text-gold {
  color: var(--clr-gold);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--clr-white);
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__header {
  background: var(--clr-darkblue);
  padding: 1em;
}

.nav {
  display: flex;
  justify-content: flex-end;
  font-weight: 700;
  font-size: 18px;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.nav__item {}

.nav__link:focus,
.nav__link:hover {
  border-bottom: 3px solid white;
}

.nav__link {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--clr-white);
  margin-left: 30px;
}

.nav__link--button {
  background: var(--clr-gold);
  padding: 0.5em 1.25em;
  border-radius: 50px;
}

/* Hero Section */
.hero {
  background-color: var(--clr-blue);
  padding: 3em 0;
}

.title__text {
  color: var(--clr-white);
  font-size: 2.625rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.title__info {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--clr-white);
  width: 80%;
}

.title__button {
  background: var(--clr-gold);
  padding: 0.5em 2.25em;
  border-radius: 50px;
  text-decoration: none;
  color: var(--clr-white);
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}

/* Content Section */
.content {
  background: #eee;
  padding: 2em 0;
  text-align: center;
}

/* Content Area */
.content__area__cards {
  text-align: center;
  color: #fff;
}

.content__area__card {
  background: #2e323f;
  padding: 2.5em 5em;
  margin: 3em 0;
}

/* Footer */
.footer {
  background: var(--clr-darkblue);
  font-family: 'Montserrat', sans-serif;

}

.footer__title {
  text-align: center;
  color: var(--clr-white);
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 21px;
}

.footer__nav {
  display: flex;
  color: var(--clr-grey);
  /* outline: 3px solid gold; */
  gap: 30px;
}

.footer__nav__list {
  list-style: none;
 
  margin: 0;
  padding: 0;
}

.footer__nav__item {
  /* outline: 3px solid red; */
 
}

.footer__nav__link {
  /* display: flex; */
  list-style: none;
  text-decoration: none;
  color: var(--clr-grey);
}