body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

/* =================
Layout
================= */

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.container-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  background: pink;
  padding: 2em 0;
  text-align: center;
  margin-bottom: 3em;
}

/* Navigation */
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin-left: 2em;
}
