body {
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

/* =================
Layout
================= */

.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  background: #fff;
  color: black
}

.container-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  padding: 2em 0;
  text-align: center;
  margin-bottom: 3em;
}

.technologies {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: #fff;
  /* border: 2px solid red; */
  color: black
}

.card-technologies {
  /* border: 2px solid black; */
  max-width: 150px;
  margin: 2em;
  font-weight: 400;
}

.card-technologies h2 {
  font-size: 2.5rem;
}

.technologies p {
  text-align: center;
  font-size: 1.6rem;
  margin: 0;
}

.technologies img {
  width: 100%;
}

/* Navigation */
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav li {
  margin: 0.5em;
}


