body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

/* =================
Layout
================= */

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.container-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  padding: 2em 0;
  text-align: center;
  margin-bottom: 3em;
}

.technologies {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* border: 2px solid red; */
}

.card-technologies {
  /* border: 2px solid black; */
  max-width: 150px;
}

.technologies p {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  margin: 0;
}

.technologies img {
  width: 100%;
}

/* Navigation */
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin-left: 2em;
}
