*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5 h6,
p {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  padding: 0;
}

.container {
  border: 10px solid black;
  padding: 3rem;
}

.flow-content > * + * {
  margin-top: 1rem;
}
