@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap');

:root {
  --clr-dark-green: #4d96a9;
  --clr-light-green: #8fe3f9;
  --clr-dark-purple: #855fb1;
  --clr-violet: #d9b8ff;
  --clr-navy: #28283d;
  --clr-grey: #87879d;
  --clr-white: #fafafa;

  --ff-redhat: 'Red Hat Display', sans-serif;
  --fw-black: 900;
  --fw-medium: 500;
}

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
  margin: 0;
}

img,
picture {
  max-width: 100%;
  display: block;
}

button,
textarea,
select,
input {
  font: inherit;
}

body {
  padding: 0;
  font-family: var(--ff-redhat);
  font-weight: var(--fw-medium);
  text-align: center;
}

/* Typography */
.text-900 {
  font-weight: var(--fw-black);
}

.hero h1 {
  font-size: 2.5rem;
  color: var(--clr-navy);
}

.hero p {
  color: var(--clr-grey);
}

.flex {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  width: 85%;
}

.split {
  display: flex;
  flex-wrap: wrap;
}

/* buttons */
.btn {
  padding: 1rem 2.5rem;
  color: var(--clr-white);
  background: none;
  font-size: 1rem;
  border: none;
  border-radius: 50px;
}

.btn span {
  color: var(--clr-light-green);
}

.btn-green {
  background-color: var(--clr-dark-green)
}

.btn-purple {
  background-color: var(--clr-dark-purple);
}
