@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Roboto:wght@300;400&display=swap');

:root {
  --clr-cream: #f3eed9;
  --clr-brown: #824936;
  --clr-black: #222c2a;

  --ff-roboto: 'Roboto', sans-serif;
  --ff-playfair: 'Playfair Display', serif;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-black: 900;
}

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img,
picture {
  max-width: 100%;
  display: block;
}

/* typography */
body {
  font-family: var(--ff-roboto);
  font-weight: var(--fw-regular);
  font-size: 21px;
  margin: 0;
}

.container {
  max-width: 1128px;
  width: 80%;
  margin: 0 auto;
}

.hero__sub-title {
  font-family: var(--ff-roboto);
  font-weight: var(--fw-light);
  font-size: 16px;
}

.hero__title {
  font-family: var(--ff-playfair);
  font-weight: var(--fw-black);
  font-size: 60px;
  color: var(--clr-brown);
}

.title {
  font-family: var(--ff-playfair);
  font-weight: var(--fw-black);
  font-size: 36px;
}

/* sections */
.hero {
  background-color: var(--clr-cream);
  padding: 9rem;
  text-align: center;
}

.flex {
  display: flex;
}
