@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Roboto:wght@300;400&display=swap');

:root {
  --clr-cream: #f3eed9;
  --clr-brown: #824936;
  --clr-black: #222c2a;

  --ff-roboto: 'Roboto', sans-serif;
  --ff-playfair: 'Playfair Display', serif;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-black: 900;
}

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img,
picture {
  max-width: 100%;
  display: block;
  height: auto;
}

/* typography */
body {
  font-family: var(--ff-roboto);
  font-weight: var(--fw-regular);
  font-size: 21px;
  margin: 0;
}

.container {
  max-width: 1128px;
  width: 80%;
  margin: 0 auto;
}

.hero__sub-title {
  font-family: var(--ff-roboto);
  font-weight: var(--fw-light);
  font-size: 16px;
}

.hero__title {
  font-family: var(--ff-playfair);
  font-weight: var(--fw-black);
  font-size: 30px;
  color: var(--clr-brown);
}

.title {
  font-family: var(--ff-playfair);
  font-weight: var(--fw-black);
  font-size: 36px;
}

/* sections */
.hero {
  background-color: var(--clr-cream);
  padding: 9rem;
  text-align: center;
}

.white {
  padding: 4rem 0;
}

.white h2 {
  color: var(--clr-brown);
  text-align: center;
  margin-bottom: 3rem;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

@media (min-width: 50em) {
  .flex {
    flex-direction: row;
  }

  .hero__title {
    font-size: 60px;
  }
}

.black {
  background-color: var(--clr-black);
  padding: 4rem 0;
  width: 100%;
}

.black__img {
  width: 100%;
}

.black h2 {
  color: var(--clr-cream);
  margin-bottom: 1.5rem;
}

.black p {
  color: #fff;
}

.brown {
  background-color: var(--clr-brown);
  padding: 4rem 0;
  width: 100%;
}

.brown__img {
  width: 100%;
}

.brown h2 {
  color: var(--clr-cream);
  margin-bottom: 1.5rem;
}

.brown p {
  color: #fff;
}
