/* add border box sizing to the page right from the start */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;

  --color-lime: #a4ffa2;
  --color-magenta: #f47dda;
  --magenta50: #f47dda80;
  --color-white: #fff;
  --color-tan: #cec5b4;
  --color-teal: #2e6d81;
  --color-cyan: #7de6f4;
  --color-black: #050d14;
}

.colors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 800px;
  padding: 0 0.25rem;
}

.lime {
  background-color: var(--color-lime);
  height: 3rem;
  width: 3rem;
}

.magenta {
  background-color: var(--color-magenta);
  height: 3rem;
  width: 3rem;
}

.magenta50 {
  background-color: var(--magenta50);
  height: 3rem;
  width: 3rem;
}

.white {
  background-color: var(--color-white);
  height: 3rem;
  width: 3rem;
}

.tan {
  background-color: var(--color-tan);
  height: 3rem;
  width: 3rem;
}

.teal {
  background-color: var(--color-teal);
  height: 3rem;
  width: 3rem;
}

.cyan {
  background-color: var(--color-cyan);
  height: 3rem;
  width: 3rem;
}

.black {
  background-color: var(--color-black);
  height: 3rem;
  width: 3rem;
}
