@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Roboto:wght@300;400&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --clr-cream: #F3EED9;
  --clr-brown: #824936;
  --clr-black: #222C2A;
  --font-robo-light: 18px;
  --font-playfair-big: 60px
}

.flex {
  display: flex;
  gap: 2em;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

img {
  max-width: 100%;
}

.container {
  width: 80%;
  max-width: 1128px;
  margin: 0 auto;
}

.hero {
  min-height: 660px;
  background: var(--clr-cream);
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em;
}

.hero__subtext {
  font-size: 18px;
  font-weight: var(--font-robo-light);
  text-transform: uppercase;
  letter-spacing: 1em;
}

.hero__title {
  font-family: 'Playfair Display', serif;
  font-size: var(--font-playfair-big);
  color: var(--clr-brown);
}

.design-content {
  padding: 3em;
  font-size: 21px;
}
.design-content__title {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  text-align: center;
  color: var(--clr-brown);
  margin-bottom: 40px;
}

