/* Base styles, not related to example */
body {
	font: 200% system-ui, Helvetica Neue, Segoe UI, sans-serif;
}

input, select, textarea, button {
	font: inherit;
}

/* Main CSS */
:root {
	background: hsl(200, 15%, 20%);
}

.bar-chart {
	display: flex;
	align-items: flex-end;
	gap: 1.5em;
	padding: 0 1.5em;
	font-size: 60%;
	background: linear-gradient(to bottom, hsla(0,0%,100%,.1) 50%, transparent 0) top / 100% 20%;
	border: 2px solid white;
	border-top: 0;
	border-right: 0;
	width: fit-content;
	height: calc(100vmin - 12em);
	margin: 2em auto;
}

.bar-chart > div {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	width: 2em;
	background: deeppink;
	box-sizing: border-box;
	padding: .3em 0;
	font-weight: bold;
	letter-spacing: -.04em;
	word-wrap: break-word;
	line-height: 1;
	color: white;
}