.pie-chart {
  width: 10em;
  height: 10em;
  padding: calc(var(--size, 15em) / 2);
  border-radius: 50%;

  --_value1: var(--value1, 0);
  --_value2: calc(var(--_value1) + var(--value2, 0));
  --_value3: calc(var(--_value2) + var(--value3, 0));
  --_value4: calc(var(--_value3) + var(--value4, 0));
  --_value5: calc(var(--_value4) + var(--value5, 0));

  background: conic-gradient(
    hsl(0 80% 50%) var(--_value1),
    hsl(25 80% 50%) 0 var(--_value2),
    hsl(50 80% 50%) 0 var(--_value3),
    hsl(75 80% 50%) 0 var(--_value4),
    hsl(100 80% 50%) 0 var(--_value5),
    gray 0
  );
}
