@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");
* {
  box-sizing: border-box; }

img {
  width: 100%; }

body {
  font-family: "Open Sans", sans-serif;
  width: 375px;
  padding: 0 1em; }

.heading {
  font-family: "Raleway", sans-serif;
  font-weight: 700; }

.text-center {
  text-align: center; }

.container {
  width: 100%;
  margin: 0 auto; }

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .navigation__logo {
    width: 25%; }
  .navigation__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-right: 10px; }
  .navigation__item {
    margin-right: 10px;
    font-size: 0.9rem; }
  .navigation__link {
    text-decoration: none;
    gap: 20px; }

.info__email input[type='email'] {
  display: inline-block;
  width: 100%; }
