body {
  font-family: 'Squada One', cursive;
  text-transform: uppercase;
}

.title {
  color: #c7b809;
  text-align: center;
}

.container {
  display: flex;
}

.vault-hunter-card {
  text-align: center;
  border: solid 2px black;
}
.vault-hunter-card img {
  max-width: 35%;
}