/* Base styles, not related to example */
body {
  font: 200% system-ui, Helvetica Neue, Segoe UI, sans-serif;
}

input,
select,
textarea,
button {
  font: inherit;
}
body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}

h1 {
  margin: auto;
}

/* Main CSS */
body {
  --p: 0.9;
  --gradient-center-x: calc(var(--p) * 100%)
  background: radial-gradient(circle at var(--gradient-center-x) 20%, white, transparent 50vw)
    hsl(0 0% 47%);
}

h1 {
  color: hsl(0 0% 50%);
  --text-shadow-x: calc(var(--p) * -1em + (1 - var(--p)) * 1em);
  text-shadow: var(--text-shadow-x) 0.3em 0.2em black;
  font-size: 50vh;
}
