.btn {
  display: inline-block;
  text-decoration: none;
  color: var(--clr-text, white);
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: uppercase;
  padding: .5em 1.5em;
  background: var(--clr-accent, blue);
  border-radius: .25em;
  transition: transform 250ms ease-in-out, opacity 250ms linear;
}

.btn:hover,
.btn:focus {
  transform: scale(1.1);
  opacity: .9;
}