/* Font used
font-family: 'PT Sans', sans-serif; 
*/

:root {
  --ff-primary: 'PT Sans', sans-serif;
  --spacer: 1rem;
}

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
p {
  margin: 0;
  padding: 0;
}

/* utility */

/* content */
body {
  font-family: var(--ff-primary);
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0;
}

.hero {
  background: no-repeat url('./assets/hero.jpg');
  background-size: cover;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.hero h1 {
  font-weight: 400;
}

.hero span {
  font-weight: 700;
}

.content {
  max-width: 70rem;
  padding: 3rem;
  margin: 0 auto;
}
