/* Base styles, not related to example */
body {
  font: 200% system-ui, Helvetica Neue, Segoe UI, sans-serif;
}

input,
select,
textarea,
button {
  font: inherit;
}
button {
  padding: 0.6em 1em;
  margin: 0.1em;
  font-weight: bold;
  cursor: pointer;
}

h1,
h2 {
  line-height: 1;
}

h1 {
  font-size: 300%;
  font-weight: 300;
}

h2 {
  font-size: 120%;
  font-weight: -0.04em;
}
/* Main CSS */
:root {
  --accent-color-1: hsl(200 100% 50%);
  --accent-color-2: hsl(0 70% 50%);
  --color-red: var(--accent-color-2);
}

button {
  --color: var(--accent-color-1);
  border: 0.1em solid;
  border-radius: 0.2em;
  color: var(--color);
  background: transparent;
}

button:hover {
  background-color: var(--color);
  border-color: transparent;
  color: white;
}

button.danger {
  --color: var(--accent-color-2);
}

h1 {
  color: var(--accent-color-1);
}

h2 {
  color: var(--accent-color-2);
}
