h1 {
  font-family: sans-serif;
  font-size: 60px;
}

h2 {
  color: #d400ff;
  font-style: italic;
  font-size: 50px;
}

h3 {
  font-family: 'Indie Flower', cursive;
  color: rgb(255, 0, 208);
  font-size: 35px;
}

p {
  font-weight: lighter;
  font-size: 40px;
  line-height: 2;
  letter-spacing: 10px;
}
