.box {
  position: relative;
  height: 150px;
  margin: 64px;
  border: 4px solid palevioletred;
}

.circle {
  position: absolute;
  border-radius: 50%;
  border: inherit;
  background-color: white;
}

.small.circle {
  position: absolute;
  top: -14px;
  left: 28px;
  width: 16px;
  height: 16px;
}

.medium.circle {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 28px;
  left: -18px;
}

.big.circle {
  position: absolute;
  top: -28px;
  left: -28px;
  width: 65px;
  height: 65px;
}
