@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box; }

body {
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0; }

img {
  max-width: 100%;
  display: block; }

h1,
h2,
h3,
p {
  margin: 0; }

.container {
  width: 85%;
  margin: 0 auto;
  max-width: 65em; }

.spacing > * + * {
  margin-top: var(--spacer, 2rem); }

.btn {
  display: inline-block;
  text-decoration: none;
  color: var(--clr-text, white);
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: uppercase;
  padding: .5em 1.5em;
  background: var(--clr-accent, blue);
  border-radius: .25em;
  transition: transform 250ms ease-in-out, opacity 250ms linear; }

.btn:hover,
.btn:focus {
  transform: scale(1.1);
  opacity: .9; }

.primary-title {
  font-size: 4rem;
  font-size: clamp(3rem, calc(5vw + 1rem), 4.5rem);
  line-height: 1;
  text-transform: uppercase; }

.hero {
  color: white;
  text-align: center;
  padding: 15em 0;
  background: #222; }
  @supports (background-blend-mode: multiply) {
    .hero {
      background: url(../img/shoe-3.png), radial-gradient(#444, #111);
      background-blend-mode: multiply; } }
