/*
  These styles are purely cosmetic,
  and shouldn't need to be tweaked.
*/

aside {
  margin-left: 16px;
}

nav h2 {
  font-size: 1rem;
  text-transform: uppercase;
  color: #555;
  letter-spacing: 2px;
  font-weight: 400;
}

nav {
  background: #eee;
  padding: 16px;
}

p {
  margin-bottom: 64px;
}

ul {
  list-style-type: none;
  padding-left: 16px;
}

li {
  padding: 8px 0;
}

nav a {
  color: black;
  text-decoration: none;
}

form {
  padding: 32px;
  border: 1px dotted;
}

form h2 {
  margin-bottom: 16px;
}

input {
  width: 75px;
}
