p {
  max-width: 300px;
}

.tooltip-trigger {
  position: relative;
  font-weight: bold;
  color: seagreen;
  text-decoration: none;
}

.tooltip {
  position: absolute;
  min-width: 150px;
  border: 1px solid black;
}
