p {
  max-width: 300px;
}

.tooltip-trigger {
  display: inline-block;
  position: relative;
  font-weight: bold;
  color: seagreen;
  text-decoration: none;
}

.tooltip {
  position: absolute;
  min-width: 150px;
  color: black;
  padding: 8px;
  font-size: 0.875rem;
  font-weight: 400;
}
