.with-margin {
  margin-top: 20px;
}
.with-position {
  position: relative;
  top: 64px;
  /* left: -2px; */
}

.box {
  width: 48px;
  height: 48px;
  border: 4px solid;
  margin-bottom: 8px;
}

.pink.box {
  border-color: deeppink;
}

/*
  ⚠️ The rest of this CSS is not
  relevant, and is used to construct
  the demo. Don't worry if you don't
  understand it; we'll get to all
  this stuff soon enough!
*/

body {
  display: flex;
  align-items: flex-start;
}
section {
  flex: 1;
  background: #eee;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.875rem;
  line-height: 3;
}
section:not(:last-of-type) {
  margin-right: 20px;
}
