@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 13px; }

:root {
  --clr-dark-grayish-blue: hsl(217, 19%, 35%);
  --clr-dark-blue: hsl(214, 17%, 51%);
  --clr-grayish-blue: hsl(212, 23%, 69%);
  --clr-light-grayish-blue: hsl(210, 46%, 95%); }

body {
  background-color: var(--clr-light-grayish-blue);
  font-family: 'Manrope', sans-serif; }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 650px;
  margin: 0 auto; }

.card {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden; }
  .card__image img {
    width: 100%; }
  .card__body {
    padding: 2em; }
    .card__body--title {
      color: var(--clr-dark-grayish-blue);
      font-weight: 700;
      font-size: 1.4rem;
      margin-bottom: 1.1em; }
    .card__body--main {
      margin-bottom: 1.1em; }
    .card__body__bottom {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .card__body__bottom--avatar {
        border-radius: 50%;
        width: 40px;
        height: 40px; }
      .card__body__bottom--share i {
        height: 32px;
        width: 32px;
        color: var(--clr-dark-grayish-blue);
        background-color: var(--clr-light-grayish-blue);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center; }

@media (min-width: 375px) {
  .card {
    display: flex;
    flex-direction: row; } }

@media (max-width: 1440px) {
  .card {
    display: flex;
    flex-direction: column; }
    .card__image img {
      width: 100%; } }
