@import './styles/base.scss';

:root {
  --primary-color: rgb(18,18,92);
  --duration: 1s;
  --easing: cubic-bezier(0.5, 0, 0.5, 1);
}

body {
  font-family: 'Open Sans', sans-serif;
  padding: 5vmin;
  background-color: whitesmoke;
  color: var(--fg-color, black);
}

a {
  color: blue;
}

h1 {
  margin: 0;
  transition: 2s;
}

// h1:hover {
//   font-size: 10rem;
// }

small {
  text-transform: uppercase;
  font-weight: bold;
}

ul {
  margin: 1rem 0;
}

.ball {
  height: 5vmin;
  width: 5vmin;
  left: 50vw;
  border-radius: 50%;
  background: radial-gradient(circle at bottom right, #fb2324, #fe932a);
  background: #fb2324;

  // Choreography
  --duration: 1s;
  --stagger: 0.5s;
  --interval: calc(var(--duration) - var(--stagger));
  // animation: move-right var(--duration) both;
  animation: move-right var(--duration) calc((var(--interval) * var(--i))) both;
}

@keyframes move-right {
  from {
    transform: none
  }

  to {
    transform: translateX(25vw);
  }
}

.button {
  appearance: none;
  background: blue;
  color: white;
  font-weight: bold;
  padding: 2rem 3rem;
  border: none;
  transition: all 0.3s;

  &:hover {
    opacity: 0.8;
  }
}
