@import './styles/base.scss';

:root {
  --primary-color: rgb(18,18,92);
  --duration: 1s;
  --easing: cubic-bezier(0.5, 0, 0.5, 1);
}

body {
  font-family: 'Open Sans', sans-serif;
  padding: 5vmin;
  background-color: whitesmoke;
  color: var(--fg-color, black);
}

a {
  color: blue;
}

h1 {
  margin: 0;
  transition: 2s;
}

// h1:hover {
//   font-size: 10rem;
// }

small {
  text-transform: uppercase;
  font-weight: bold;
}

ul {
  margin: 1rem 0;
}

.ball {
  height: 5vmin;
  width: 5vmin;
  left: 50vw;
  border-radius: 50%;
  background: radial-gradient(circle at bottom right, #fb2324, #fe932a);
  animation: slide-right var(--duration) var(--easing) infinite;
  background: #fb2324;
  animation: move-like-a-square;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes move-like-a-square {
  0% {
    transform: none
  }

  25% {
    transform: translateX(20vw);
  }

  50% {
    transform: translateX(20vw) translateY(20vw);
  }

  75% {
    transform: translateX(0) translateY(20vw);
  }

  100% {
    transform: none;
  }
}
