/* Cosmetic styles */
body {
  background: #222;
  padding: 0px;
  padding-top: 32px;
}

.card {
  background-color: white;
  padding: 32px;
  border-radius: 8px;
}

p {
  margin-bottom: 16px;
}

/* Max Width Wrapper */
.max-width-wrapper {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}