.quotes {
  blockquote {
    --spacer: 2rem;
    background: var(--clr-primary-700);
    color: var(--clr-neutral-200);
    text-align: left;
    border-radius: var(--br);
    padding: var(--spacer);
  }

  img {
    border-radius: 50%;
    margin-right: var(--spacer);
  }
}
