/* Select the paragraphs that come immediately after a <hr> element and make them red */
hr + p {
  color: red;
}

/* Select the paragraphs that are siblings to h2 elements and give them a 20 pixel font size*/

/* Select the link inside of the footer and give it a magenta color WHEN a user hovers over it */

/* Select any checked checkboxes and give them a box shadow of '0 0 0 3px orange' */

/* Select every other li element (2nd, 4th, 6th, etc) inside of the ul with the class 'blah' and give them a magenta background */

/* Select the first letter of each paragraph and give them a color of blue and a font-size of 30 pixels */
